@charset "utf-8";
body,
td,
th,
p,
div,
a,
form,
pre,
.bodyContainer,
.ec2_button,
.leftContainer .menu-list .leftMenuTitle div,
.leftContainer .menu-list .title div,
.board_item .res_number,
.board_item .err,
.board_item .alarm,
.alam {
  font-family: "Helvetica", "Myriad", "Arial", "Microsoft Yahei", "SimSun";
}
.board_item .err.pointer:hover {
  color: #009ee0;
  text-decoration: underline;
}
.board_item .alarm.pointer:hover{
    color: #009ee0;
    text-decoration: underline;
}
body,
.dec_host_area,
.ec2_cAButton_fontSize,
#title,
.agreeBar,
.createKplist,
.know_more,
.DateTimeContainer,
.textStateDefault,
.topTit,
.specTab,
.board_item .item1,
.alam,
.module_header .sub_title,
.order_confirm .col3,
.ecm-tab li.pull-right,
.circle_span_title.disk_list_summary .number,
.disk_list_summary span,
.apply_summary .row-fluid dt,
.apply_summary_title .cancel,
.createvm_confirm th,
.detailMsg .tiny_form,
#mianbao span,
.listener_list_tab li .protocol,
#bandWidthInfo li,
.bandWidthInfo dt,
.bandWidthInfo dd,
.scalingDay i,
.host_spec li,
.image_types .ims_type {
  font-size: 12px;
}
.txtOperation,
.txtOperation:hover,
.ecm-tab li a:hover,
.ecm-tab li.active:hover,
.ecm-tab li.active a:hover,
#mianbao span.link,
.instanceBox_select,
.txt_blue,
.more,
.icoMoon-refresh,
.scalingOption .optionActive,
.apply_info a,
.ecm-console-tab li.active:hover,
.elbOverviewBaseInfo #cloud,
.elbOverviewBaseInfo #cloud a,
.tiny-tdStyle a,
td.tiny-tdStyle span.link,
td.tiny-tdStyle .tiny-menubutton-main-a,
a,
a:hover,
a:focus,
.field_info.txt_blue {
  color: #009ee0;
}
td.tiny-tdStyle .tiny-menubutton-caret {
  border-top: 4px solid #009ee0;
}
.txt_red,
.feemoney,
.apply_summary .row-fluid dd.fee_money,
.create_image_confirm th,
.applyFee,
.cost_info .fee_money span,
#upgrade_vm_spec .fee_money,
.bandWidthInfo dd.fee_money span {
  color: #e41e2b;
}
.applyFee {
  font-size: 36px;
}
.fee_money {
  color: #e41e2b;
}
a.tinyPagination_tinybutton:hover {
  color: #009ee0;
}
a.tinyPagination_tinybutton:hover span {
  color: #009ee0;
}
.tinyPagination_paginationNextSpan,
a.tinyPagination_tinybutton.tinyPagination_paginationPrevSpan:hover,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpan:hover,
.tinyPagination_paginationNextSpan:visited,
.tinyPagination_paginationPrevSpan:visited {
  border: 1px solid #009ee0;
  color: #009ee0;
}
.state.pointer:hover {
  color: #009ee0;
  text-decoration: underline;
}
.decStepIcon,
.decStepBar li .decStepLine {
  background: #e41e2b;
}
#detailBubble,
#detailImageFileBubble {
  top: 5px;
}
#detailBackBubble {
  top: -9px;
}
.eipRightBox {
  left: 448px;
}
.host_spec li.disable:hover {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  color: #666666;
}
.image_types .ims_type:hover,
.host_spec li:hover {
  border: 1px solid #009ee0;
  color: #009ee0;
}
.image_types .ims_type.active,
.image_types .ims_type.active:hover,
.host_spec li.active,
.host_spec li.active:hover {
  background-color: #009ee0;
  border: 1px solid #009ee0;
  color: #ffffff;
}
.specTab,
.host_spec li,
.image_types .ims_type {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  margin: 0 1px 0 0;
}
.bks_button.red,
.ec2_button.red,
.elb_button.red {
  background-color: #e41e2b;
}
.bks_button.red:hover,
.ec2_button.red:hover {
  background-color: #f53642;
}
.listener_list_tab .active,
.stepBar .active .stepLine,
.stepBar .stepBoxCheck .stepLine,
.stepBar .active .stepNum,
.stepBar .stepBoxCheck .stepNum {
  background: #33aaff;
}
.stepBar .active .stepLine,
.stepBar .stepBoxCheck .stepLine {
  background: linear-gradient(to right, #33aaff 0, #33aaff 50%, #cfcfcf 50%, #cfcfcf 100%);
  /* W3C */
  background: -moz-linear-gradient(left, #33aaff 0, #33aaff 50%, #cfcfcf 50%, #cfcfcf 100%);
  background: -webkit-linear-gradient(left, #33aaff 0, #33aaff 50%, #cfcfcf 50%, #cfcfcf 100%);
  background: -ms-linear-gradient(left, #33aaff 0, #33aaff 50%, #cfcfcf 50%, #cfcfcf 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33aaff', endColorstr='#ffcfcfcf', GradientType=1);
  /* IE6-9 */
}
.stepBar .active .stepIcon,
.stepBar .stepBoxCheck .stepIcon {
  border-color: #33aaff;
}
.stepBar .stepDone .stepLine {
  background: #33aaff;
}
.stepBar .stepDone .stepIcon:before {
  background: url("../images/ecm/step_icon.png") 0 -46px;
}
.ecm-tab li.active,
.ecm-console-tab li.active {
  border-top: 3px solid #009ee0 !important;
}
.leftContainer .menu-list .leftCurrent {
  border-left: 3px solid #009ee0;
  color: #009ee0;
}
.leftContainer .menu-list .title {
  font-size: 14px;
}
.dashboard_title {
  font-size: 18px;
}
.dashboardItem .board_item:hover {
  border: 1px solid #009ee0;
}
.scalingOption .optionActive {
  background: #ededed;
}
.scalingDay i.dayActive,
.optionActive {
  background: #33aaff;
}
.optionActive {
  color: #ffffff;
  border: 1px solid #33aaff;
}
.optionActive {
  background-color: #86c2fe;
}

.icoMoon-refresh.refresh_button {
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #666666;
  background: #fafafa;
  background: -webkit-linear-gradient(to bottom, #f7f7f7, #ffffff);
  background: linear-gradient(to bottom, #f7f7f7, #ffffff);
  display: inline-block;
  line-height: 32px;
  height: 30px;
  width: 30px;
  text-align: center;
}
.icoMoon-refresh.refresh_button:hover {
  color: #009ee0;
}
.icoMoon-refresh.refresh_button:focus {
  color: #666666;
  border: 1px solid #009ee0;
}
.icoMoon-refresh.refresh_button:active {
  color: #ffffff;
  background: #009ee0;
  border: 1px solid #009ee0;
}
.stepBar .active .stepText,
.stepBar .stepDone .stepText,
.stepBar li.stepBoxCheck .stepText,
.stepBar .active .stepIcon,
.stepBar li.stepBoxCheck .stepIcon {
  color: #009ee0;
}
.createvm_confirm th {
  font-size: 12px;
}
.detailMsg .tiny_form {
  font-size: 12px;
}
