<div id="variableCollapse">
    <div ng-show="isVariableCollapsed">
        <div class="collapse-body">
            <div class="alertLabel">
                <h2 style="color:#ff9955;">{{i18n.chkFlow_term_alert_label}}</h2>
                <b>{{i18n.chkFlow_term_variable_alert_label1}}</b>{{i18n.chkFlow_term_variable_alert_label2}}
            </div>
            <div class="variableConfig">
                <div class="level2Head"><span style="color:red">*</span>{{i18n.chkFlow_term_variable_config}}</div>
                <div class="level2Content">
                    <tiny-formfield class="input_content">
                        <tiny-item label="variable.probeIntervalTime">
                            <tiny-textbox id="probeRoundTextBox.id"
                                          value="probeRoundTextBox.value"
                                          validate = "probeRoundTextBox.validate"
                                          tooltip = "probeRoundTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_probe_interval_time_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.probePortCount">
                            <tiny-textbox id="probePortTextBox.id"
                                          value="probePortTextBox.value"
                                          validate = "probePortTextBox.validate"
                                          tooltip = "probePortTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_probe_port_count_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.reportIntervalTime">
                            <tiny-textbox id="reportRoundTextBox.id"
                                          value="reportRoundTextBox.value"
                                          validate = "reportRoundTextBox.validate"
                                          tooltip = "reportRoundTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_report_interval_time_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.packetsNum">
                            <tiny-textbox id="packetsNumTextBox.id"
                                          value="packetsNumTextBox.value"
                                          validate = "packetsNumTextBox.validate"
                                          tooltip = "packetsNumTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_packets_num_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.timeDelay">
                            <tiny-textbox id="timeDelayTextBox.id"
                                          value="timeDelayTextBox.value"
                                          validate = "timeDelayTextBox.validate"
                                          tooltip = "timeDelayTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_max_time_delay_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.packetsLossRate">
                            <tiny-textbox id="packetsLossRateTextBox.id"
                                          value="packetsLossRateTextBox.value"
                                          validate = "packetsLossRateTextBox.validate"
                                          tooltip = "packetsLossRateTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_max_loss_rate_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.dscp">
                            <tiny-textbox id="dscpTextBox.id"
                                          value="dscpTextBox.value"
                                          validate = "dscpTextBox.validate"
                                          tooltip = "dscpTextBox.tooltip"></tiny-textbox>
                        </tiny-item>
                        <tiny-item label="variable.lossPkgTimeOut">
                            <tiny-textbox id="lossPkgTimeOutTextBox.id"
                                          value="lossPkgTimeOutTextBox.value"
                                          validate = "lossPkgTimeOutTextBox.validate"
                                          tooltip = "lossPkgTimeOutTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_lossPkg_timeout_detail}}
                            <span>)</span>
                        </tiny-item>
                        <tiny-item label="variable.lossPkgNum">
                            <tiny-textbox id="lossPkgNumTextBox.id"
                                          value="lossPkgNumTextBox.value"
                                          validate = "lossPkgNumTextBox.validate"
                                          tooltip = "lossPkgNumTextBox.tooltip"></tiny-textbox>
                            <span>&nbsp;(</span>
                            {{i18n.chkFlow_term_probe_port_count_detail}}
                            <span>)</span>
                        </tiny-item>
                    </tiny-formfield>
                    <div class="agentVariableBtn" style="overflow:auto;">
                        <div class="reset_btn" style="margin-top: 20px;margin-right:40px;margin-left:40px;float:left">
                            <tiny-button id="variableResetBtn.id"
                                         text="variableResetBtn.text"
                                         disable="variableResetBtn.disable"
                                         click="variableResetBtnOK()"></tiny-button>
                        </div>
                        <div class="submit_btn" style="margin-top: 20px;float:left">
                            <tiny-button id="variableSubmitBtn.id"
                                         text="variableSubmitBtn.text"
                                         disable="variableSubmitBtn.disable"
                                         click="variableSubmitBtnOK()"></tiny-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="startOrStop">
                <div class="level2Head"><span style="color:red">*</span>{{i18n.chkFlow_term_start_stop}}</div>
                <div class="level2Content">
                    <div class="probeStart_btn" style="float:left;margin-right:40px;margin-left:40px;">
                        <tiny-button id="probeStartBtn.id"
                                     text="probeStartBtn.text"
                                     disable="probeStartBtn.disable"
                                     click="probeStartBtnOK()"></tiny-button>
                    </div>
                    <div class="probeStop_btn" style="float:left">
                        <tiny-button id="probeStopBtn.id"
                                     text="probeStopBtn.text"
                                     disable="probeStopBtn.disable"
                                     click="probeStopBtnOK()"></tiny-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>