<div>
    <div class="container-fluid">
        <div class="row-fluid">

        </div>
    </div>

    <div class="dashboard_title"></div>
    <div id="showWin">
        <tiny-table id="configList.id"
                    data='configList.data'
                    columns='configList.columns'
                    total-records="configList.totalRecords"
                    show-details="configList.showDetails"
                    closeOtherDetails="configList.closeOthersDetails"
                    columns-draggable="configList.columnsDraggable"
                    cell-click-active="configList.cellClickActive"
                    render-row="configList.renderRow"></tiny-table>
    </div>

</div>
