<div class="divCollapse">
    <div id="fileUploadCollapse">
        <div class="collapse_head" ng-click="isFileCollapsed = !isFileCollapsed">
            {{i18n.chkFlow_term_file_upload}}
        </div>
        <div ng-show="isFileCollapsed">
            <div class="collapse-body">
                <div class="fileUpload" style=" overflow: hidden;zoom:1">
                    <tiny-fileupload action="fileUpload.action"
                                     multi="fileUpload.multi"
                                     complete="fileUpload.completeDefa">
                    </tiny-fileupload>
                </div>
            </div>
        </div>
    </div>
    <div id="deployCollapse">
        <div class="collapse_head" ng-click="isDeployCollapsed = !isDeployCollapsed">
            {{i18n.chkFlow_term_deploy}}
        </div>
        <div ng-show="isDeployCollapsed">
            <div class="collapse-body">
                <div class="alertLabel">
                    <h2 style="color:#ff9955;">{{i18n.chkFlow_term_alert_label}}</h2>
                    <p>{{i18n.chkFlow_term_deploy_alert_label1}}</p>
                </div>
                <div class="deploy_btn">
                    <tiny-button id="deployBtn.id"
                                 text="deployBtn.text"
                                 disable="deployBtn.disable"
                                 click="deployBtnOK()"></tiny-button>
                </div>
            </div>
        </div>
    </div>
    <div id="variableCollapse">
        <div class="collapse_head" ng-click="isVariableCollapsed = !isVariableCollapsed">
            {{i18n.chkFlow_term_variable_config}}
        </div>
        <div ng-show="isVariableCollapsed">
            <div class="collapse-body">
                <div class="alertLabel">
                    <h2 style="color:#ff9955;">{{i18n.chkFlow_term_alert_label}}</h2>
                    <b>{{i18n.chkFlow_term_variable_alert_label1}}</b>{{i18n.chkFlow_term_variable_alert_label2}}
                </div>
                <tiny-formfield>
                    <tiny-item label="variable.probeIntervalTime">
                        <tiny-textbox id="probeRoundTextBox.id"
                                      value="probeRoundTextBox.value"
                                      validate = "probeRoundTextBox.validate"
                                      tooltip = "probeRoundTextBox.tooltip"></tiny-textbox>
                        <span>&nbsp;(</span>
                        {{i18n.chkFlow_term_probe_interval_time_detail}}
                        <span>)</span>
                    </tiny-item>
                <tiny-item label="variable.packetsNum">
                    <tiny-textbox id="packetsNumTextBox.id"
                                  value="packetsNumTextBox.value"
                                  validate = "packetsNumTextBox.validate"
                                  tooltip = "packetsNumTextBox.tooltip"></tiny-textbox>
                    <span>&nbsp;(</span>
                    {{i18n.chkFlow_term_packets_num_detail}}
                    <span>)</span>
                </tiny-item>
                <tiny-item label="variable.timeDelay" require="model.require">
                    <tiny-textbox id="timeDelayTextBox.id"
                                  value="timeDelayTextBox.value"
                                  validate = "timeDelayTextBox.validate"
                                  tooltip = "timeDelayTextBox.tooltip"></tiny-textbox>
                    <span>&nbsp;(</span>
                    {{i18n.chkFlow_term_max_time_delay_detail}}
                    <span>)</span>
                </tiny-item>
                <tiny-item label="variable.packetsLoss">
                    <tiny-textbox id="packetsLossTextBox.id"
                                  value="packetsLossTextBox.value"
                                  validate = "packetsLossTextBox.validate"
                                  tooltip = "packetsLossTextBox.tooltip"></tiny-textbox>
                    <span>&nbsp;(</span>
                    {{i18n.chkFlow_term_max_loss_rate_detail}}
                    <span>)</span>
                </tiny-item>
            </tiny-formfield>
                <div class="variable_btn">
                    <tiny-button id="variableBtn.id"
                             text="variableBtn.text"
                             disable="variableBtn.disable"
                             click="variableBtnOK()"></tiny-button>
                </div>
            </div>
        </div>
    </div>
</div>
