<div id="configTabs" class="tiny-tabs-container" >
    <div class = "tiny-tabs-titles">
        <ul>
    <li ng-repeat = "tabli in tablis" ng-class="{tinyTabActive: $state.includes(tabli.state)}" ui-sref={{tabli.state}}>
        <a>{{tabli.text}}</a>
    </li>
</ul>
    </div>
    <div class="tiny-tabs-content">
        <div ui-view></div>
    </div>
</div>
<script>
    require([], function() {
        var tabs = new tinyWidget.Tabs({
            "id": "configTabs",
            "setActiveClass": false
        });
    });
</script>