<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<!--east and west direction network flow -->
<div>
    <div style="width:840px;">
        <tiny-button id="button.id" text='button.text' click="resetBtn()"></tiny-button>
    </div>
    <div class="dashboard_title"></div>
    <div class="panel-body" id="delay_time_chart_wrapper">
        <div class="canvas-wrapper">
            <div id="DTtooltip" class="hidden">
                <p><span id="DTvalue"></span></p>
            </div>
            <div id="delay_time_chart" style='overflow:auto;'></div>
        </div>
    </div>

</div>