<html>
<div id="deployCollapse">
    <div ng-show="isDeployCollapsed">
        <div class="collapse-body">
            <div class="alertLabel">
                <h2 style="color:#ff9955;">{{i18n.chkFlow_term_alert_label}}</h2>
                <p>{{i18n.chkFlow_term_deploy_alert_label1}}</p>
                <p>{{i18n.chkFlow_term_deploy_alert_label2}}</p>
            </div>
            <div class="deployFileUpload">
                <div class="level2Head" ><span style="color:red">*</span>{{i18n.chkFlow_term_install_file_upload}}</div>
                <div class="deployFileUpload level2Content" style="overflow: hidden; zoom:1;">
                    <tiny-fileupload id="deployFileUpload.id"
                                     input-value="deployFileUpload.inputValue"
                                     file-obj-name="deployFileUpload.fileObjName"
                                     max-size = "deployFileUpload.maxSize"
                                     maxTotalSize = "deployFileUpload.maxTotalSize"
                                     disable = "deployFileUpload.disable"
                                     multi="deployFileUpload.multi"
                                     file-type = "deployFileUpload.fileType"
                                     action="deployFileUpload.action"
                                     method = "deployFileUpload.method"
                                     select-error = "deployFileUpload.selectError"
                                     select = "deployFileUpload.select"
                                     complete="deployFileUpload.completeDefa">
                    </tiny-fileupload>
                </div>
            </div>
            <div class="deployVariableConfig">
                <div class="level2Head"><span style="color:red">*</span>{{i18n.chkFlow_term_ak_sk}}</div>
                <div class="level2Content">
                    <div class="agentConfig" style="overflow:auto;margin-bottom:20px;">
                        <div style="float:left;margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 70px;">
                                {{i18n.chkFlow_term_repo_ip}}
                            </div>
                            <tiny-ip id="repoIpTextBox.id"
                                     type="repoIpTextBox.type"
                                     value="repoIpTextBox.value"
                                     validate = "repoIpTextBox.validate"
                                     tooltip = "repoIpTextBox.tooltip"> </tiny-ip>
                        </div>
                        <div style="float:left; margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 70px;">
                                {{i18n.chkFlow_term_ak_name}}
                            </div>
                            <tiny-textbox id="akTextBox.id"
                                          value="akTextBox.value"
                                          validate = "akTextBox.validate"
                                          tooltip = "akTextBox.tooltip">
                            </tiny-textbox>
                        </div>
                        <div style="float:left; margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 45px;">
                                {{i18n.chkFlow_term_sk_name}}
                            </div>
                            <tiny-textbox id="skTextBox.id"
                                          value="skTextBox.value"
                                          validate = "skTextBox.validate"
                                          tooltip = "skTextBox.tooltip"></tiny-textbox>
                        </div>
                    </div>
                    <div class="kafkaConfig" style="overflow:auto;margin-bottom:20px;">
                        <div style="float:left;margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 70px;">
                                {{i18n.chkFlow_term_kafka_ip}}
                            </div>
                            <tiny-ip id="kafkaIpTextBox.id"
                                     type="kafkaIpTextBox.type"
                                     value="kafkaIpTextBox.value"
                                     validate = "kafkaIpTextBox.validate"
                                     tooltip = "kafkaIpTextBox.tooltip"> </tiny-ip>
                        </div>
                        <div style="float:left;margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 70px;">
                                {{i18n.chkFlow_term_kafka_port}}
                            </div>
                            <tiny-textbox id="kafkaPortTextBox.id"
                                     value="kafkaPortTextBox.value"
                                     validate = "kafkaPortTextBox.validate"
                                     tooltip = "kafkaPortTextBox.tooltip"> </tiny-textbox>
                        </div>
                        <div style="float:left;margin-right:50px;">
                            <div class="span1 input_label1" style="margin-left:0px;width: 45px;">
                                {{i18n.chkFlow_term_kafka_topic}}
                            </div>
                            <tiny-textbox id="kafkaTopicTextBox.id"
                                     value="kafkaTopicTextBox.value"
                                     validate = "kafkaTopicTextBox.validate"
                                     tooltip = "kafkaTopicTextBox.tooltip"> </tiny-textbox>
                        </div>
                        <div class="installVariableSubmit"style="float:left;">
                            <tiny-button id="installVariableBtn.id"
                                         text="installVariableBtn.text"
                                         disable="installVariableBtn.disable"
                                         click="installVariableBtnOK()"></tiny-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="installOrUninstall" style="overflow:auto;">
                <div class="level2Head"><span style="color:red">*</span>{{i18n.chkFlow_term_install_uninstall}}</div>
                <div class="level2Content">
                    <div class="install_btn" style="float:left; margin-right:40px;">
                        <tiny-button id="installBtn.id"
                                     text="installBtn.text"
                                     disable="installBtn.disable"
                                     click="installBtnOK()"></tiny-button>
                    </div>
                    <div class="uninstall_btn" style="float:left;margin-right:40px;">
                        <tiny-button id="uninstallBtn.id"
                                     text="uninstallBtn.text"
                                     disable="uninstallBtn.disable"
                                     click="uninstallBtnOK()"></tiny-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>