<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<!--<tiny-button text="btnCtrl.text" tooltip="btnCtrl.desc" click="btnCtrl.doSth(event)"></tiny-button>-->
<div class="container-fluid">
    <div class="row-fluid">
        <div style="float:left; margin-right:20px;">
            <div class="span1 input_label1" style="width: 60px;">
                {{i18n.chkFlow_term_az_id}}
            </div>
            <tiny-textbox id="azTextBox.id"
                          value="azTextBox.value"
                          width="azTextBox.width"
                          tooltip = "azTextBox.tooltip"
                          disable="azTextBox.disable"></tiny-textbox>
        </div>
        <div style="float:left; margin-right:20px;" class="timeLimit">
            <div class="span1 input_label1" style="width: 60px;">
                {{i18n.chkFlow_term_start_time}}
            </div>
            <tiny-datetime id= "dateTime.id1"
                           type="dateTime.type"
                           date-format = "dateTime.dateFormat"
                           max-date = "dateTime.maxDate1"
                           min-date = "dateTime.minDate1"
                           on-close = "dateTime.onCloseMin"
                           time-format="dateTime.timeFormat">
            </tiny-datetime>
        </div>
        <div style="float:left;margin-right:20px;">
            <div class="span1 input_label1" style="width: 50px;">
                {{i18n.chkFlow_term_src_ip}}
            </div>
            <tiny-ip id="src_ip.id"
                     type="src_ip.type"
                     value="src_ip.value"
                     validate = "src_ip.validate"
                     tooltip = "src_ip.tooltip"> </tiny-ip>
        </div>
    </div><br>
    <div class="row-fluid">
        <div style="float:left; margin-right:20px;">
            <div class="span1 input_label1" style="width: 60px;">
                {{i18n.chkFlow_term_pod_id}}
            </div>
            <tiny-textbox id="podTextBox.id"
                          value="podTextBox.value"
                          width="podTextBox.width"
                          tooltip = "podTextBox.tooltip"
                          disable="azTextBox.disable"></tiny-textbox>
        </div>
        <div style="float:left; margin-right:20px;" class="timeLimit">
            <div class="span1 input_label1" style="width: 60px;">
                {{i18n.chkFlow_term_end_time}}
            </div>
            <tiny-datetime id= "dateTime.id2"
                           type="dateTime.type"
                           date-format = "dateTime.dateFormat"
                           min-date = "dateTime.minDate2"
                           max-date = "dateTime.maxDate2"
                           on-close = "dateTime.onCloseMax"
                           time-format="dateTime.timeFormat">
            </tiny-datetime>
        </div>
        <div style="float:left;margin-right:20px;">
            <div class="span1 input_label1" style="width: 50px;">
                {{i18n.chkFlow_term_dst_ip}}
            </div>
            <tiny-ip id="dst_ip.id"
                     value="dst_ip.value"
                     type="dst_ip.type"
                     validate = "src_ip.validate"
                     tooltip = "dst_ip.tooltip"> </tiny-ip>
        </div>
        <div style="float:left;margin-right:20px;">
            <div class="span1 input_label1" style="width: 40px;">
                {{i18n.chkFlow_term_Type}}
            </div>
            <tiny-select id="type.id"
                         values="type.values"
                         width="135"></tiny-select>
        </div>
        <div style="float:right;">
            <tiny-button id="search.id" text="search.text"
                         icons-class="search.iconsClass"
                         width="search.width"
                         disable="search.disable"
                         click="searchBtnOK()"></tiny-button>
        </div>
    </div>
</div>
<div class="dashboard_title"></div>
<div style="margin-top: 20px">
    <tiny-table id="table.id"
                data="table.data"
                columns="table.columns"
                total-records="table.totalRecords"
                display-length="table.displayLength"
                callback="table.callback"
                columns-draggable="true"
                tips="true" ></tiny-table>
</div>