<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">

<div class="menu-top-line"></div>
<div id="console-top-menu" class="console-top-menu frame-normal-font-size" ng-controller="menusCtrl">
    <div id="menu" class="menu console-content-padding">
        <div>

            <div>
            <a ng-href="." class="console-menu-logo pull-left">
                <span class="title" ng-bind="i18n.follow_term_title"></span>
            </a></div>
            <!--menus-default-start-->
            <div class="default-style" style="right:40px;position: absolute">
                <!--userInfo-->
                <div class="dropdown pull-right menu-dropdown margin-right-14 console-topbar-btn-right" ng-show="logoutShow">
                    <a hws-href href class="console-topbar-btn dropdown-toggle console-topbar-username-text" data-toggle="dropdown" ng-attr-title="{{username}}">
                        <img class="menu-hwsicon-frame-user-head" ng-src="{{user_head_href.url}}"/>
                        <span class="console-topbar-fixed-width-username" ng-bind="username"></span>
                        <span class="hwsicon-frame-image-caret menu-hwsicon-frame-user-caret console-topbar-fixed-width-div"></span>
                    </a>
                    <a hws-href href class="console-topbar-btn-click dropdown-toggle console-topbar-username-text" data-toggle="dropdown">
                        <img class="menu-hwsicon-frame-user-head" ng-src="{{user_head_href.url}}"/>
                        <span class="console-topbar-fixed-width-username" ng-bind="username"></span>
                        <span class="hwsicon-frame-image-caret-up menu-hwsicon-frame-user-caret console-topbar-fixed-width-div"></span>
                    </a>
                    <ul class="dropdown-menu user-dropdown-menu frame-small-font-size">
                        <li class="dropdown-menu-li-height">
                            <a ng-href="{{logoutUrl}}">
                                <span class="hwsicon-frame-image-logout menu-hwsicon-frame-user-drop"></span>
                                <span class="user-center-dropdown-text" ng-bind="i18n.console_term_back_button"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //to avoid close the drop down menu when click favorite
        $("div.dropdown-menu").on("click", "[data-stopPropagation]", function (e) {
            $(".frame-dropdown-tinyTip").remove();
            e.stopPropagation();
        });

        //deal drop down menu click event
        $(document).on('click.bs.dropdown.data-api', '[data-toggle="dropdown"]', function(){
            var $this = $(this);
            if ($this.is('.disabled, :disabled')) {
                return;
            }
            clearMenu();
            var $parent  = getParent($this);
            if(!$parent.hasClass('menu-dropdown')) {
                return;
            }
            var isActive = $parent.hasClass('open');
            if(isActive) {
                $($parent.children()[0]).css("display", "none");
                $($parent.children()[1]).css("display", "inline-block");
            } else {
                $($parent.children()[0]).css("display", "inline-block");
                $($parent.children()[1]).css("display", "none");
            }
        });

        $(document).on('click.bs.dropdown.data-api', clearMenu);

        function clearMenu() {
            $('[data-toggle=dropdown]').each(function () {
                if(getParent($(this)).hasClass('menu-dropdown')) {
                    if($(this).hasClass('console-topbar-btn-click')) {
                        $(this).css("display", "none");
                    } else {
                        $(this).css("display", "inline-block");
                    }
                }
            })
        }

        function getParent($this) {
            var selector = $this.attr('data-target');

            if (!selector) {
                selector = $this.attr('href');
                selector = selector && /#[A-Za-z]/.test(selector) && selector.replace(/.*(?=#[^\s]*$)/, ''); // strip for ie7
            }

            var $parent = selector && $(selector);

            return $parent && $parent.length ? $parent : $this.parent()
        }
    });
</script>