<div class="outWrap">
    <div class="bodyContainer clearfix" style="width: 1200px">
        <div class="leftContainer framework-scrolling" id="vpcLeftMenu" >
            <ul class="menu-list">
                <li ng-click="go('blackhole.manager.eipFlow')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.eipFlow')
                     || $stateParams.state === 'blackhole.manager.eipFlow'}" class="default_tab">
                    <div class="tab_title">{{i18n.follow_term_physNet}}</div>
                </li>
                <li ng-click="go('blackhole.manager.locationFlow')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.locationFlow')
                     || $stateParams.state === 'blackhole.manager.locationFlow'}" class="default_tab">
                    <div class="tab_title2">{{i18n.follow_term_location}}</div>
                </li>
                <li ng-click="go('blackhole.manager.delayFlow')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.delayFlow')
                     || $stateParams.state === 'blackhole.manager.delayFlow'}" class="default_tab">
                    <div class="tab_title3">{{i18n.follow_term_delay}}</div>
                </li>
                <!--title4-->
                <li ng-click="go('blackhole.manager.lossFlow')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.lossFlow')
                     || $stateParams.state === 'blackhole.manager.lossFlow'}" class="default_tab">
                    <div class="tab_title4">{{i18n.follow_term_loss}}</div>
                </li>
                <!--在线配置-->
                <li ng-click="go('blackhole.manager.configFlow.deployConfig')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.configFlow')
                     || $stateParams.state === 'blackhole.manager.configFlow'}" class="default_tab">
                    <div class="tab_title5">{{i18n.follow_term_conf}}</div>
                </li>
                <li ng-click="go('blackhole.manager.warnFlow')"
                    ng-class="{leftCurrent:$state.includes('blackhole.manager.warnFlow')
                     || $stateParams.state === 'blackhole.manager.warnFlow'}" class="default_tab">
                    <div class="tab_title6">{{i18n.follow_term_warn}}</div>
                </li>
            </ul>
        </div>

        <div class="rightContainer">
            <div ui-view></div>
        </div>
    </div>
</div>

<script>
    function resetOverflow() {
        var leftContainer = $(".leftContainer");
        var lastLi = $(".leftContainer li").last();
        var highEnough = $(window).height() >= lastLi.offset().top + lastLi.outerHeight();
        if(window.configData && window.configData.company === "DT"){
            var bannerHeight = $(window).scrollTop() > 80 ? 0 : 80;
            highEnough = $(window).height() >= lastLi.offset().top + lastLi.outerHeight() + bannerHeight;
            var menuHeight = $(window).height() - bannerHeight - 60;
            leftContainer.css("height", highEnough ? "100%" : menuHeight);
        }
        leftContainer.css("overflow-y", highEnough ? "visible" : "auto");
        leftContainer.css("overflow-x", highEnough ? "visible" : "hidden");
    }
    $(document).ready(resetOverflow);
    $(window).resize(resetOverflow);
    $(window).scroll(resetOverflow);
</script>

